<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내가 좋아하는 장르의 영화 선택</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_favorite_genre.css') }}">
</head>
<body>
    <div class="header">
        <h1>MovieFlix</h1>
        <h1 id="allMovie">모든 영화</h1>
        <input type="text" placeholder="Search...">
        <button id="logoutButton" >Logout</button>
    </div>
    <section class="section1">
        <div>
            <h1 style="font-size: xx-large">내가 선호하는 장르</h1>
        </div>
        <div>
            <button id="comicGenre" class="red-rounded-button">코미디</button><button id="romanceGenre" class="red-rounded-button">멜로/로맨스</button><button id="criminalGenre" class="red-rounded-button">범죄</button><button id="actionGenre" class="red-rounded-button">액션</button>
        </div>
        <div>
            <button id="dramaGenre" class="red-rounded-button">드라마</button><button id="documentaryGenre" class="red-rounded-button">다큐멘터리</button><button id="thrillerGenre" class="red-rounded-button">스릴러</button><button id="horrorGenre" class="red-rounded-button">공포(호러)</button>
        </div>
        <div>
            <button id = "misteryGenre" class="red-rounded-button">미스터리</button><button id="adventureGenre" class="red-rounded-button">어드벤처</button><button id="familyGenre" class="red-rounded-button">가족</button><button id="fantasyGenre" class="red-rounded-button">판타지</button>
        </div>
        <div>
            <button id="musicalGenre" class="red-rounded-button">뮤지컬</button><button id="sfGenre" class="red-rounded-button">SF</button><button id="historicalDramaGenre" class="red-rounded-button">사극</button><button id="animationGenre" class="red-rounded-button">애니메이션</button>
        </div>

    </section>


</body>

<script>

</script>
</html>